<!-- fragments/quicklinks.html -->
<div th:fragment="quickLinksSlider" class="swiper quick-links-swiper mb-5" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="link : ${quickLinks}">
            <a class="card text-center text-decoration-none glass-link-card p-3" th:href="${link.url}" target="_blank">
                <img th:src="@{'/images/' + ${link.image}}" class="mb-2" style="width: 60px; height: 60px;" alt="logo">
                <h6 class="mt-2 text-white" th:text="${link.name}">UPSC</h6>
            </a>
        </div>
    </div>

    <!-- Navigation buttons -->
    <div class="swiper-button-next text-white"></div>
    <div class="swiper-button-prev text-white"></div>
</div>
